4.7 - Working with descritpite statistics

In [1]:
import pandas as pd

In [2]:
laliga_df2016_2017 = pd.read_excel("laligadata\\LaLiga16 17.xlsx").dropna(how='all')
laliga_df2017_2018 = pd.read_excel("laligadata\\LaLiga17 18.xlsx").dropna(how='all')
laliga_df2018_2019 = pd.read_excel("laligadata\\LaLiga18 19.xlsx").dropna(how='all')
laliga_df2019_2020 = pd.read_excel("laligadata\\LaLiga19 20.xlsx").dropna(how='all')
laliga_df2020_2021 = pd.read_excel("laligadata\\LaLiga20 21.xlsx").dropna(how='all')
laliga_df2021_2022 = pd.read_excel("laligadata\\LaLiga21 22.xlsx").dropna(how='all')

In [3]:
laliga_df2016_2017.columns.values

array(['Wk', 'Day', 'Date', 'Time', 'Local', 'Score', 'Visitante',
       'Attendance', 'Venue', 'Referee', 'Informe del partido', 'Notes'],
      dtype=object)

In [4]:
primera = pd.concat([laliga_df2016_2017, laliga_df2017_2018, laliga_df2018_2019, laliga_df2019_2020, laliga_df2020_2021, laliga_df2021_2022], ignore_index=True)

In [5]:
primera.head(2)

,Wk,Day,Date,Time,Local,Score,Visitante,Attendance,Venue,Referee,Informe del partido,Notes,xG,xG.1
0,1.0,Vie,2016-08-19,20:45 (15:45),Málaga,1–1,Osasuna,22.347,Estadio La Rosaleda,Santiago Jaime,Informe del partido,NaN,NaN,NaN
1,1.0,Vie,2016-08-19,22:00 (17:00),La Coruña,2–1,Eibar,21.441,Estadio Municipal de Riazor,Mario Melero,Informe del partido,NaN,NaN,NaN

In [6]:
laliga2 = primera.loc[:, ['Wk', 'Date', 'Local', 'xG', 'Score', 'xG.1', 'Visitante', 'Attendance']]

In [7]:
def total_goles(goles_str):
    goles = goles_str.split("–")
    total_goles = int(goles[0]) + int(goles[1])
    return total_goles

In [8]:
def golesvisita(marcador):
    goles=marcador.split("–")
    return int(goles[1])
def goleslocal(marcador):
    goles=marcador.split("–")
    return int(goles[0])

In [9]:
laliga2['Goles Local'] = laliga2['Score'].apply(goleslocal)
laliga2['Goles Visitante'] = laliga2['Score'].apply(golesvisita)
laliga2['Total de goles'] = laliga2['Score'].apply(total_goles)

In [10]:
laliga2[laliga2['Local']=='Real Madrid']['Goles Local'].sum()

251

In [11]:
laliga2[laliga2['Local']=='Real Madrid']['Goles Local'].mean()

2.2017543859649122

In [12]:
laliga2[laliga2['Local']=='Real Madrid']['Goles Local'].describe()

count    114.000000
mean       2.201754
std        1.552502
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        7.000000
Name: Goles Local, dtype: float64

In [13]:
laliga2[laliga2['Local']=='Barcelona']['Goles Local'].sum()

301

In [14]:
laliga2[laliga2['Local']=='Barcelona']['Goles Local'].mean()

2.6403508771929824

In [15]:
def torneo(a,m):
    if ((a==2016) & (m<=12) | (a==2017) & (m<=8)):
        return '16/17'
    elif ((a==2017) & (m<=12) | (a==2018) & (m<=8)):
        return '17/18'
    elif ((a==2018) & (m<=12) | (a==2019) & (m<=8)):
        return '18/19'
    elif ((a==2019) & (m<=12) | (a==2020) & (m<=8)):
        return '19/20'
    elif ((a==2020) & (m<=12) | (a==2021) & (m<=8)):
        return '20/21'
    elif ((a==2021) & (m<=12) | (a==2022) & (m<=8)):
        return '21/22'

In [16]:
laliga2['Attendance']= laliga2['Attendance'].fillna(0)
laliga2['Año'] = laliga2['Date'].dt.year
laliga2['Mes'] = laliga2['Date'].dt.month
laliga2['Temporada'] = laliga2.apply(lambda x: torneo(x['Año'], x['Mes']),axis = 1)

In [17]:
laliga2.head(5)

,Wk,Date,Local,xG,Score,xG.1,Visitante,Attendance,Goles Local,Goles Visitante,Total de goles,Año,Mes,Temporada
0,1.0,2016-08-19,Málaga,NaN,1–1,NaN,Osasuna,22.347,1,1,2,2016,8,16/17
1,1.0,2016-08-19,La Coruña,NaN,2–1,NaN,Eibar,21.441,2,1,3,2016,8,16/17
2,1.0,2016-08-20,Barcelona,NaN,6–2,NaN,Betis,65.731,6,2,8,2016,8,16/17
3,1.0,2016-08-20,Granada,NaN,1–1,NaN,Villarreal,15.149,1,1,2,2016,8,16/17
4,1.0,2016-08-20,Sevilla,NaN,6–4,NaN,Espanyol,29.420,6,4,10,2016,8,16/17

In [18]:
temporadas = ['16/17','17/18','18/19','19/20','20/21','21/22']
asist = {}
for temporada in temporadas:
    base = laliga2[laliga2['Temporada']==temporada]
    prom = base['Attendance'].mean()
    total = base['Attendance'].sum()
    asist[temporada] = (total,prom)

In [19]:
asist

{'16/17': (11240.483, 28.1012075),
 '17/18': (10584.469000000001, 27.635689295039167),
 '18/19': (10483.410000000002, 27.371827676240212),
 '19/20': (7139.686, 20.16860451977401),
 '20/21': (919.2729999999999, 2.2421292682926826),
 '21/22': (8401.564, 24.00446857142857)}

In [20]:
asistencia = pd.DataFrame([[key, asist[key][0], asist[key][1]] for key in asist.keys()], columns=['Temporada', 'Asistencia Total', 'Asistencia promedio'])

In [21]:
asistencia

  Temporada  Asistencia Total  Asistencia promedio
0     16/17         11240.483            28.101208
1     17/18         10584.469            27.635689
2     18/19         10483.410            27.371828
3     19/20          7139.686            20.168605
4     20/21           919.273             2.242129
5     21/22          8401.564            24.004469

Creating Indicators

In [24]:
def resultado(string):
    goles=string.split("–")
    if int(goles[0])>int(goles[1]):
        return 'Local'
    if int(goles[0])<int(goles[1]):
        return 'Visitante'
    else:
        return 'Empate'

In [25]:
laliga2['Resultado']=laliga2['Score'].apply(resultado)

In [26]:
laliga2

,Wk,Date,Local,xG,Score,xG.1,Visitante,Attendance,Goles Local,Goles Visitante,Total de goles,Año,Mes,Temporada,Resultado
0,1.0,2016-08-19,Málaga,NaN,1–1,NaN,Osasuna,22.347,1,1,2,2016,8,16/17,Empate
1,1.0,2016-08-19,La Coruña,NaN,2–1,NaN,Eibar,21.441,2,1,3,2016,8,16/17,Local
2,1.0,2016-08-20,Barcelona,NaN,6–2,NaN,Betis,65.731,6,2,8,2016,8,16/17,Local
3,1.0,2016-08-20,Granada,NaN,1–1,NaN,Villarreal,15.149,1,1,2,2016,8,16/17,Empate
4,1.0,2016-08-20,Sevilla,NaN,6–4,NaN,Espanyol,29.420,6,4,10,2016,8,16/17,Local
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,38.0,2022-05-22,Alavés,0.4,0–1,1.9,Cádiz,11.138,0,1,1,2022,5,21/22,Visitante
2276,38.0,2022-05-22,Granada,2.0,0–0,0.4,Espanyol,17.951,0,0,0,2022,5,21/22,Empate
2277,38.0,2022-05-22,Real Sociedad,2.3,1–2,0.8,Atlético Madrid,23.586,1,2,3,2022,5,21/22,Visitante
2278,38.0,2022-05-22,Barcelona,0.7,0–2,0.7,Villarreal,54.850,0,2,2,2022,5,21/22,Visitante
2279,38.0,2022-05-22,Sevilla,1.4,1–0,0.7,Athletic Club,31.305,1,0,1,2022,5,21/22,Local

In [27]:
condicion_predominante = laliga2.groupby(['Temporada', 'Resultado'])['Wk'].count().reset_index()
condicion_predominante = condicion_predominante.set_axis(['Temporada', 'Resultado', 'Cantidad'], axis='columns')

In [28]:
condicion_predominante

   Temporada  Resultado  Cantidad
0      16/17     Empate        94
1      16/17      Local       188
2      16/17  Visitante       118
3      17/18     Empate        89
4      17/18      Local       179
5      17/18  Visitante       115
6      18/19     Empate       111
7      18/19      Local       171
8      18/19  Visitante       101
9      19/20     Empate        96
10     19/20      Local       164
11     19/20  Visitante        94
12     20/21     Empate       122
13     20/21      Local       168
14     20/21  Visitante       120
15     21/22     Empate        98
16     21/22      Local       155
17     21/22  Visitante        97

In [29]:
cond_predominante_abs = laliga2.groupby(['Resultado'])['Wk'].count().reset_index()
cond_predominante_abs = cond_predominante_abs.set_axis(['Resultado', 'Cantidad'], axis='columns')

In [30]:
cond_predominante_abs

   Resultado  Cantidad
0     Empate       610
1      Local      1025
2  Visitante       645

In [31]:
def resultado_equipo(string, local, visita):
    goles= string.split("–")
    if int(goles[0])>int(goles[1]):
        return local
    if int(goles[0])<int(goles[1]):
        return visita
    else:
        return "Empate"

laliga2['Ganador'] = laliga2.apply(lambda x: resultado_equipo(x['Score'], x['Local'],x['Visitante']),axis=1)

In [32]:
laliga2

,Wk,Date,Local,xG,Score,xG.1,Visitante,Attendance,Goles Local,Goles Visitante,Total de goles,Año,Mes,Temporada,Resultado,Ganador
0,1.0,2016-08-19,Málaga,NaN,1–1,NaN,Osasuna,22.347,1,1,2,2016,8,16/17,Empate,Empate
1,1.0,2016-08-19,La Coruña,NaN,2–1,NaN,Eibar,21.441,2,1,3,2016,8,16/17,Local,La Coruña
2,1.0,2016-08-20,Barcelona,NaN,6–2,NaN,Betis,65.731,6,2,8,2016,8,16/17,Local,Barcelona
3,1.0,2016-08-20,Granada,NaN,1–1,NaN,Villarreal,15.149,1,1,2,2016,8,16/17,Empate,Empate
4,1.0,2016-08-20,Sevilla,NaN,6–4,NaN,Espanyol,29.420,6,4,10,2016,8,16/17,Local,Sevilla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,38.0,2022-05-22,Alavés,0.4,0–1,1.9,Cádiz,11.138,0,1,1,2022,5,21/22,Visitante,Cádiz
2276,38.0,2022-05-22,Granada,2.0,0–0,0.4,Espanyol,17.951,0,0,0,2022,5,21/22,Empate,Empate
2277,38.0,2022-05-22,Real Sociedad,2.3,1–2,0.8,Atlético Madrid,23.586,1,2,3,2022,5,21/22,Visitante,Atlético Madrid
2278,38.0,2022-05-22,Barcelona,0.7,0–2,0.7,Villarreal,54.850,0,2,2,2022,5,21/22,Visitante,Villarreal
2279,38.0,2022-05-22,Sevilla,1.4,1–0,0.7,Athletic Club,31.305,1,0,1,2022,5,21/22,Local,Sevilla

In [33]:
mas_ganadores = laliga2[laliga2['Ganador'] != 'Empate'].groupby(['Ganador'])['Wk'].count().reset_index()
mas_ganadores = mas_ganadores.set_axis(['Equipo', 'Cantidad de victorias'], axis='columns')
mas_ganadores = mas_ganadores.sort_values(by='Cantidad de victorias', ascending=False)

In [34]:
mas_ganadores.head(3)

             Equipo  Cantidad de victorias
3         Barcelona                    152
22      Real Madrid                    149
2   Atlético Madrid                    133

In [35]:
def intervalos(score):
    goles= score.split("–")
    total_goles = int(goles[0]) + int(goles[1])
    if total_goles < 1:
        return '0'
    elif total_goles < 2:
        return '1'
    elif total_goles < 3:
        return '2'
    elif total_goles < 4:
        return '3'
    elif total_goles >= 4:
        return '4+'

In [36]:
laliga2['Clasificacion de goles'] = laliga2['Score'].apply(intervalos)

In [38]:
laliga2.head(3)

,Wk,Date,Local,xG,Score,xG.1,Visitante,Attendance,Goles Local,Goles Visitante,Total de goles,Año,Mes,Temporada,Resultado,Ganador,Clasificacion de goles
0,1.0,2016-08-19,Málaga,NaN,1–1,NaN,Osasuna,22.347,1,1,2,2016,8,16/17,Empate,Empate,2
1,1.0,2016-08-19,La Coruña,NaN,2–1,NaN,Eibar,21.441,2,1,3,2016,8,16/17,Local,La Coruña,3
2,1.0,2016-08-20,Barcelona,NaN,6–2,NaN,Betis,65.731,6,2,8,2016,8,16/17,Local,Barcelona,4+

In [40]:
cant_goles_pp = laliga2.groupby(['Temporada', 'Clasificacion de goles'])['Date'].count().reset_index()
cant_goles_pp = cant_goles_pp.set_axis(['Temporada', 'Cantidad de goles por partido', 'Cantidad de partidos'], axis='columns')

In [41]:
cant_goles_pp

   Temporada Cantidad de goles por partido  Cantidad de partidos
0      16/17                             0                    28
1      16/17                             1                    65
2      16/17                             2                    85
3      16/17                             3                    89
4      16/17                            4+                   133
5      17/18                             0                    31
6      17/18                             1                    77
7      17/18                             2                    80
8      17/18                             3                    88
9      17/18                            4+                   107
10     18/19                             0                    26
11     18/19                             1                    76
12     18/19                             2                   105
13     18/19                             3                    81
14     18/19                            4+                    95
15     19/20                             0                    31
16     19/20                             1                    63
17     19/20                             2                    95
18     19/20                             3                    85
19     19/20                            4+                    80
20     20/21                             0                    35
21     20/21                             1                    81
22     20/21                             2                   117
23     20/21                             3                    76
24     20/21                            4+                   101
25     21/22                             0                    38
26     21/22                             1                    65
27     21/22                             2                    88
28     21/22                             3                    67
29     21/22                            4+                    92

In [ ]:
primera['com_local_vs_xg'] = primera.apply(lambda x: comp_goleslocal(x['Score'], x['xG']), axis=1)
primera['com_visita_vs_xg'] = primera.apply(lambda x: comp_golesvisita(x['Score'], x['xG.1']), axis=1)

In [ ]:
primera.loc[:, ['Date', 'Local', 'Score', 'Visitante', 'Total de goles', 'com_local_vs_xg', 'com_local_vs_xg']].head(5)

In [ ]:
laliga123_df2016_2017 = pd.read_excel("laligadata\\LaLiga123 16 17.xlsx").dropna(how='all')
laliga123_df2017_2018 = pd.read_excel("laligadata\\LaLiga123 17 18.xlsx").dropna(how='all')
laliga123_df2018_2019 = pd.read_excel("laligadata\\LaLiga123 18 19.xlsx").dropna(how='all')
laliga123_df2019_2020 = pd.read_excel("laligadata\\LaLiga123 19 20.xlsx").dropna(how='all')
laliga123_df2020_2021 = pd.read_excel("laligadata\\LaLiga123 20 21.xlsx").dropna(how='all')
laliga123_df2021_2022 = pd.read_excel("laligadata\\LaLiga123 21 22.xlsx").dropna(how='all')

In [ ]:
laliga123_df2016_2017.columns.values

In [ ]:
segunda = pd.concat([laliga123_df2016_2017,laliga123_df2017_2018,laliga123_df2018_2019,laliga123_df2019_2020,laliga123_df2020_2021,laliga123_df2021_2022 ], ignore_index=True)

In [ ]:
segunda.head(2)

# Consolidated Information

In [ ]:
primera.head(4)

In [ ]:
laliga = primera.loc[:,['Wk', 'Date', 'Local', 'Score', 'Visitante', 'Attendance']]
laliga['Attendance'] = laliga['Attendance'] * 1000
laliga['Torneo'] = 'Primera Division'

In [ ]:
laliga.head(3)

In [ ]:
def golesvisita(marcador):
    goles=marcador.split("–")
    return int(goles[1])
def goleslocal(marcador):
    goles=marcador.split("–")
    return int(goles[0])

# laliga['Goles Local'] = laliga['Score'].apply(goleslocal)
# laliga['Goles Visitante'] = laliga['Score'].apply(golesvisita)
# laliga['Total goles partido'] = laliga['Goles Local'] + laliga['Goles Visitante']

In [ ]:
def resultado_equipo(string, local, visita):
    goles= string.split("–")
    if int(goles[0])>int(goles[1]):
        return local
    if int(goles[0])<int(goles[1]):
        return visita
    else:
        return "Empate"

laliga['Ganador'] = laliga.apply(lambda x: resultado_equipo(x['Score'], x['Local'],x['Visitante']),axis=1)

In [ ]:
laliga.head(3)

In [ ]:
def puntos(equipo1, equipo2, data):
    usos = data[((data['Local']==equipo1)&(data['Visitante']==equipo2))|((data['Local']==equipo2)&(data['Visitante']==equipo1))]
    puntos = 0
    for i in range(len(usos)):
        ganador = str(usos.iloc[i]['Ganador'])
        if ganador == equipo1:
            puntos += 3
        if ganador == "Empate":
            puntos =+ 1
    return puntos

In [ ]:
laliga['puntos'] = laliga.apply(lambda x: puntos(x['Local'],x['Visitante'],laliga),axis=1)

In [ ]:
laliga

In [ ]:
agrup_equip = laliga[laliga['Ganador'] != 'Empate'].groupby(['Ganador'])['Wk'].count().reset_index()[['Ganador']]
agrup_equip

In [ ]:
equipos = sorted(laliga['Local'].unique().tolist())
equipos

In [ ]:
for equipo in equipos:
    agrup_equip[equipo] = agrup_equip.apply(lambda x: puntos(x['Ganador'], equipo, laliga), axis=1)

In [ ]:
agrup_equip = agrup_equip.rename(columns={'Ganador':'Equipo1\Equipo2'})
agrup_equip.head(3)

# Summative

## Question 1

In [ ]:
laliga_df2021_2022 = pd.read_excel("laligadata\\LaLiga21 22.xlsx").dropna(how='all')
laliga_df2021_2022 = laliga_df2021_2022.loc[:,['Wk', 'Date', 'Local', 'Score', 'Visitante', 'Attendance']]

In [ ]:
team = "Real Sociedad"
filter_local = laliga_df2021_2022['Local'] == team
filter_visitante = laliga_df2021_2022['Visitante'] == team
filter_week_inicio = laliga_df2021_2022['Wk'] >= 30
filter_week_final = laliga_df2021_2022['Wk'] <= 30
laliga_df2021_2022 = laliga_df2021_2022[(filter_week_inicio)]
#laliga_df2021_2022 ['Goles Local'] = laliga_df2021_2022 ['Score'].apply(goleslocal)
#laliga_df2021_2022 ['Goles Visitante'] = laliga_df2021_2022 ['Score'].apply(golesvisita)
#laliga_df2021_2022 ['Total goles partido'] = laliga_df2021_2022 ['Goles Local'] + laliga_df2021_2022 ['Goles Visitante'] 
#laliga_df2021_2022['Ganador'] = laliga_df2021_2022.apply(lambda x: resultado_equipo(x['Score'], x['Local'],x['Visitante']),axis=1) 
#laliga_df2021_2022['puntos']  = laliga_df2021_2022.apply(lambda x: puntos(x['Local'],x['Visitante'],laliga_df2021_2022),axis=1)

In [ ]:
laliga_df2021_2022.dtypes

In [ ]:
laliga_df2021_2022["gente"] = laliga_df2021_2022['Attendance'] * 1000

In [ ]:
laliga_df2021_2022["gente"].sum()

In [ ]:
laliga_df2021_2022.head(50)
#Mallorca

In [ ]:
def goals_favour(df, team):
    home_goals = df.loc[df['Local'] == team, 'Goles Local'].sum()
    away_goals = df.loc[df['Visitante'] == team, 'Goles Visitante'].sum()
    total_goals = home_goals + away_goals
    
    return total_goals

def goals_against(df, team):
    home_goals_against = df.loc[df['Local'] == team, 'Goles Visitante'].sum()
    away_goals_against = df.loc[df['Visitante'] == team, 'Goles Local'].sum()
    total_goals_against = home_goals_against + away_goals_against
    
    return total_goals_against

In [ ]:
goals_favour(laliga_df2021_2022, team)

In [ ]:
goals_against(laliga_df2021_2022, team)